doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body
       h2 Reestablecer Password 
       p Hola,has solicitado reestablecer tu password has click en el siguiente enlace para reestablecerlo, este enlace es temporal, asi si vence vuelve a solicitarlo 
       a(href=`${resetUrl}`) ir a Resetear Password 
       p si no puedes acceder a este enlace, visita #{resetUrl}
       p si no solcitaste este e-mail, puedes ignorarlo